{% extends 'base.html.twig' %}
{% block title %}Вопросы{% endblock %}
{% block btn_questions %}
    <li class="active"><a href="{{ path('questions.show') }}">Вопросы <span class="sr-only">(current)</span></a></li>
{% endblock %}

{% block section_title %}
    Вопросы
{% endblock %}

{% block section_content %}

{% endblock %}