{% extends 'quizzes/action_quizzes_layout.html.twig' %}

{% block title %}Редактирование викторины{% endblock %}

{% block btn_quizzes %}
    <li class="active"><a href="{{ path('quiz.show') }}">Викторины <span class="sr-only">(current)</span></a></li>
{% endblock %}

{% block section_title %}Редактирование викторины{% endblock %}