<h3>You did it! You registered!</h3>

Hi {{ name }}! You're successfully registered.

To login, go to: <a href="http://127.0.0.1:8000{{ path('confirm', {'token': token}) }}">Подтвердить</a>.

Thanks!
